@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root{
    --header-font: 'Tenor Sans' , sans-serif;
    --body-font: 'Inter', sans-serif;
    --first-background-color: #f1f1f1;
    --second-background-color: #000;
    --first-font-color: #000;
    --second-font-color: #fff;
}

header, h1, h2{
    font-family: var(--header-font);
}

p h3{
    font-family: var(--body-font);
}

header{
    background-color: var(--second-background-color);
    display: flex;
    flex-direction: row;
    padding: 20px;
    border: 1px solid #1a1a1a;
}

header h1{
    color: var(--second-font-color);
    text-align: center;
    padding: 1rem;
    margin: 0 auto;
}

nav{
    display: flex;
    flex-direction: column;
    max-width: 700px;
    max-height: 30px;
	margin: 1rem auto;
}

.navigation a{
    display: none;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    color: var(--second-font-color);
}

nav a:hover{
    color: grey;
    font-weight: 700;
}

/*When the button is clicked - the open class is toggled */
.open a{
    display: block;
}

.active{
    color: grey;
}

/*Small view navigation*/
#menu{
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: #fff;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

#menu::before{
    content: "☰";
}

#menu.open::before{
    content: "X";
}

main{
    max-width: 700px;
    margin: 1rem auto;
    padding: 1rem;
    color: var(--first-font-color);
    font-family: var(--body-font);
}

main h2{
    text-align: center;
}

figure {
    margin: 1rem 0;
    text-align: center;
}

figure img {
    max-width: 100%;
    height: auto;
}

figcaption {
    font-family: var(--body-font);
    color: var(--first-font-color);
    padding-top: 0.5rem;
}

footer{
    max-width: 700px;
    margin: 1rem auto;
    padding: 1rem;
    color: var(--second-font-color);
    background-color: var(--second-background-color);
    font-family: var(--body-font);
}

footer span {
    color: #fff;
}

#lastModified {
    margin-top: 0.5rem;
    color: grey;
}
